.admin-hero {
    margin-top: calc(-1 * var(--header-height));
    margin-bottom: 60px;
    height: 300px;

    background-image: url("/assets/home-hero-bg.png");
}

.admin-hero__inner {
    height: 100%;
    padding-top: calc(var(--header-height) / 2) !important;

    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-hero h1 {
    font-size: 80px;
    line-height: 1em;
    color: #ffffff;
}

/* Admin section
/* ---------------------------------------------------------- */

.admin-section {
    margin-bottom: 60px;
}

.admin-section__title {
    margin-bottom: 24px;
}

.admin-section label {
    margin-bottom: 8px;
}

.admin-section .gh-check + label {
    padding: 0;
    color: var(--color-dark);
}

.admin-section input,
.admin-section textarea,
.admin-section .gh-check + label {
    margin-bottom: 24px;
}

.admin-section textarea {
    min-height: 200px;
}

.admin-section__inner {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px; */

    display: flex;
    flex-direction: column;
    gap: 48px;
}

.admin-section-code-wrapper {
    position: relative;
    min-width: 0;
}

.admin-section-code-wrapper pre {
    height: 100%;
    margin: 0;
    padding: 24px;

    overflow: auto;

    border: 1px solid var(--color-border);
    border-radius: 8px;

    max-height: 200px;
    overflow: auto;
}

.admin-section-code {
    white-space: pre-wrap;
}
/* 
.admin-copy-button {
    position: absolute;
    top: 12px;
    right: 12px;

    padding: 8px 12px;

    border: 1px solid var(--color-border);
    border-radius: 4px;

    background: var(--color-background);
    color: inherit;

    cursor: pointer;
} */

.admin-generate-button {
    width: 100%;
}

/* .admin-copy-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
} */

/* Mick Pick form
/* ---------------------------------------------------------- */

.mick-pick-edit {
    /* display: grid;
    grid-template-columns: 1fr auto 1fr; */
    align-items: center;
    gap: 24px;
}

.mick-pick-edit__divider {
    color: var(--color-dark);
}

.mick-pick-form,
.mick-pick-code {
    flex: 1;
}

.mick-pick-form > *:last-child,
.mick-pick-code > *:last-child {
    margin-bottom: 0px !important;
}

.mick-pick-code {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mick-pick-preview {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
