.custom-post-review-hero {
    height: 724px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-post-review-hero__image,
.custom-post-review-hero__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.custom-post-review-hero__image-overlay {
    background-color: var(--color-dark);
    opacity: 0.39;
}

.custom-post-review-hero__content {
    position: relative;

    width: fit-content;
    margin: 0 auto;

    color: var(--color-light);
    text-align: center;
}

.custom-post-review-hero__title {
    text-transform: uppercase;
    /* font-size: 80px; */
    font-size: clamp(50px, 5vw, 80px);

    max-width: 1000px;
}

.custom-post-review-rating {
    position: absolute;
    top: calc(100% + 8px);

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 12px;

    text-align: start;
}

.custom-post-review-rating__label {
    font-weight: 200;
    font-size: 26px;
}

@media (max-width: 800px) {
    .custom-post-review-hero__title {
        margin-bottom: 12px;
    }

    .custom-post-review-rating {
        position: relative;
        flex-wrap: wrap;
    }
}

/* Content 
/* ---------------------------------------------------------- */

.gh-content {
    container-type: inline-size;
}

.custom-post-review-content {
    padding-block: 20px 100px;
}

.custom-post-review-content__inner {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

/* Mick Pick
/* ---------------------------------------------------------- */

.gh-content .quick-mick-pick {
    padding: 56px 74px;
    border: 4px solid #fbd246;

    display: grid;
    grid-template-areas:
        "header header"
        "image content";
    grid-template-columns: 2fr 3fr;
    row-gap: 24px;
    column-gap: 60px;
}

.gh-content .quick-mick-pick__title {
    grid-area: header;

    font-size: 52px;
    /* font-size: clamp(26px, 8vw, 52px); */
}

.gh-content .quick-mick-pick__media {
    grid-area: image;
    min-width: 0;
    position: relative;
}

.gh-content .quick-mick-pick__media img,
.gh-content .quick-mick-pick__media video,
.gh-content .quick-mick-pick__media iframe {
    width: 100%;
}

.gh-content .quick-mick-pick__media iframe {
    aspect-ratio: 9/16;
}

.gh-content .quick-mick-pick__video-controls {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    width: 28px;
    color: var(--color-light);
}

.gh-content .quick-mick-pick__video-controls .pause-icon {
    display: none;
}

.gh-content .quick-mick-pick__content {
    grid-area: content;

    display: flex;
    flex-direction: column;
    gap: 48px;
}

.gh-content .quick-mick-pick__body {
    font-size: 36px;
    line-height: 1.2em;
}

.gh-content .quick-mick-pick__body p {
    font-weight: 500 !important;
}

.gh-content .quick-mick-pick__body > * {
    margin-bottom: 1em;
}

.gh-content .quick-mick-pick__body > *:last-child {
    margin-bottom: 0.5em;
}

.gh-content .quick-mick-pick-socials {
    display: flex;
    gap: 16px;
    align-items: center;

    margin-top: auto;
}

.gh-content .quick-mick-pick-socials span {
    font-size: 12px;
    font-weight: var(--font-normal);
    text-transform: uppercase;
    font-weight: 800;
    color: #fc4534;
}

.gh-content .quick-mick-pick-socials__links {
    display: flex;
    gap: 10px;
}

.gh-content .quick-mick-pick-social-link {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    width: 48px;
    aspect-ratio: 1/1;
}

.gh-content .quick-mick-pick-social-link svg {
    color: #fc4534;
    width: 48px;
    height: 48px;
}

.gh-content .quick-mick-pick-message {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.25em;
}

@media (max-width: 800px) {
    .gh-content .quick-mick-pick {
        display: flex;
        flex-direction: column;

        padding: 28px 36px;
    }

    .gh-content .quick-mick-pick__title {
        text-align: center;
        font-size: 32px;
    }

    .gh-content .quick-mick-pick__media {
        max-width: 350px;
        margin: 0 auto;
    }

    .gh-content .quick-mick-pick__content {
        gap: 24px;
    }

    .gh-content .quick-mick-pick__body {
        font-size: 24px;
    }
}
