.feature-hero {
    height: 300px;

    background-image: url("/assets/textured-bg.png");
}

.feature-hero__inner {
    height: 100%;
    padding-top: calc(var(--header-height) / 2) !important;

    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-hero h1 {
    /* font-size: 80px; */
    font-size: clamp(50px, 5vw, 80px);
    line-height: 1em;
    color: #ffffff;
}

/* Feature posts
/* ---------------------------------------------------------- */

.feature-page-posts {
    background-color: var(--color-dark);
    background-image: none !important;

    padding-block: 232px 172px !important;
}

.feature-page-posts .feature-posts__inner {
    gap: 136px;
}
