/* About Me
/* ---------------------------------------------------------- */

.about-me {
    padding: 180px 0;
    background-color: var(--color-dark);
}

.about-me__inner {
    display: flex;
    gap: 88px;
}

.about-me__image {
    aspect-ratio: 1/1;
    flex: 9;
    object-fit: cover;
    object-position: center;
}

.about-me__content {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.about-me__content > p:nth-child(1) {
    font-size: 12px;
    font-weight: var(--font-normal);
    text-transform: uppercase;
    font-weight: 800;
    color: #fc4534;
}

.about-me__content h2:nth-child(2) {
    font-size: 36px;
    color: var(--color-light);
    line-height: 1.2em;
    margin-bottom: 24px;
}

.about-me__body {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
    color: #9fa4af;
}

.about-me__body > * {
    margin-bottom: 24px;
}

/* .about-me__inner.new {
    display: grid;
    grid-template-columns: 9fr 5fr;
    grid-template-areas: "image subtitle" "image title" "image content";
    column-gap: 88px;
    row-gap: 12px;
}
.about-me__inner.new figure:nth-child(1) {
    grid-area: image;
}

.about-me__inner.new p:nth-child(2) {
    grid-area: subtitle;
    min-height: 0;
}

.about-me__inner.new h2:nth-child(3) {
    grid-area: title;
}

.about-me__inner.new .about-me__content:nth-child(4) {
    grid-area: content;
} */
