/* Contact
/* ---------------------------------------------------------- */

.contact {
    padding: 96px 0 68px;
}

.contact__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.contact__title {
    font-size: 48px;
    line-height: 1em;
    color: var(--color-dark);
}

.contact-form {
    width: 100%;
    max-width: 746px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    margin-bottom: 12px;
    width: 100%;
}

.contact-form input {
    margin-bottom: 24px;
}

.contact-form__submit {
    margin: 0 auto;
    margin-top: 48px;
    color: #fc4534 !important;
    box-shadow: inset 0 0 0 3px #fc4534 !important;
}

.contact__alt-message {
    font-size: 18px;
    text-align: center;
}

.contact__alt-message a {
    font-weight: 900;
}

.contact-form label[for="message"] {
    font-size: 26px;
}
