.posts-pagination {
    color: #fbd246;
    font-size: 20px;

    position: sticky;
    bottom: 0;
    z-index: 10;
    background-color: var(--color-dark);
    padding-block: 24px;
}

.posts-pagination ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.posts-pagination li {
    list-style-type: none;
    margin: 0 !important;
}

.posts-pagination button {
    background: none;
    padding: 0;
    margin: 0;
    border: 0;
    color: inherit;
    height: unset;
    min-height: unset;
    display: flex;

    cursor: pointer;
}

.posts-pagination svg {
    fill: #fbd246;
}

.posts-pagination .is-active {
    color: var(--color-light);
}
