.post-rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.post-rating__star {
    font-size: 24px;
    line-height: 1;

    color: #fbd246;
}

.post-rating__star svg {
    width: 30px;
    height: 30px;
}

.post-rating__star--empty {
    opacity: 0.25;
}
