.admin .quick-mick-pick-edit {
    /* display: grid;
    grid-template-columns: 1fr auto 1fr; */
    align-items: center;
    gap: 24px;
}

.admin .quick-mick-pick-edit__divider {
    color: var(--color-dark);
}

.admin .quick-mick-pick-form,
.admin .quick-mick-pick-code {
    flex: 1;
}

.admin .quick-mick-pick-form > *:last-child,
.admin .quick-mick-pick-code > *:last-child {
    margin-bottom: 0px !important;
}

.admin .quick-mick-pick-code {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.admin .quick-mick-pick-preview {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
